<template lang="pug">
  #game
    section.row
      .small-6.columns
        h1.text-center You
        .healthbar
          .healthbar.text-center(
            style="background-color: green; margin: 0; color: white;",
            :style="{width: playerHealth + '%'}"
            ) {{ playerHealth }}
      .small-6.columns
        h1.text-center MONSTER
        .healthbar
          .healthbar.text-center(
            style="background-color: green; margin: 0; color: white;",
            :style="{width: monsterHealth + '%'}"
            ) {{ monsterHealth }}
    section.row.controls(v-if="!gameIsRunning")
      .small-12.columns
        button#start-game(@click="startGame") Start New Game
    section.row.controls(v-else)
      .small-12.columns
        button#attack(@click="attack") Attack
        button#special-attack(@click="sAttack") Special Attack
        button#heal(@click="heal") Heal
        button#give-up(@click="gg") GG
    section.row.log(v-if="turns.length > 0")
      .small-12.columns
        ul
          li(v-for="turn in turns",
          :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}"
          ) {{ turn.text }}
</template>

<script>
export default {
  name: "Game",
  data() {
    return {
      playerHealth: 100,
      monsterHealth: 100,
      gameIsRunning: false,
      turns: []
    };
  },
  methods: {
    startGame() {
      this.gameIsRunning = true;
      this.playerHealth = 100;
      this.monsterHealth = 100;
    },
    attack() {
      let damage = this.calcDamage(3, 10);
      this.monsterHealth -= damage;
      this.turns.unshift({
        isPlayer: true,
        text: `Player hits Monster for ${damage}`
      });
      if (this.checkWin()) return;
      this.monAttack();
    },
    sAttack() {
      let damage = this.calcDamage(10, 20);
      this.monsterHealth -= damage;
      this.turns.unshift({
        isPlayer: true,
        text: `Player hits Monster Hard for ${damage}`
      });
      if (this.checkWin()) return;
      this.monAttack();
    },
    heal() {
      if (this.playerHealth <= 90) {
        this.playerHealth += 10;
      } else {
        this.playerHealth = 100;
      }
      this.turns.unshift({
        isPlayer: true,
        text: `Player heals 10 HP`
      });
      this.monAttack();
    },
    gg() {
      this.gameIsRunning = false;
    },
    calcDamage(min, max) {
      return Math.max(Math.floor(Math.random() * max) + 1, min);
    },
    monAttack() {
      let damage = this.calcDamage(5, 13);
      this.playerHealth -= damage;
      this.turns.unshift({
        isPlayer: false,
        text: `Monster hits Player for ${damage}`
      });
      this.checkWin();
    },
    checkWin() {
      if (this.monsterHealth <= 0) {
        if (confirm("You won! : New game?")) {
          this.startGame();
        } else {
          this.gameIsRunning = false;
        }
        return true;
      } else if (this.playerHealth <= 0) {
        if (confirm("You lose! : New game?")) {
          this.startGame();
        } else {
          this.gameIsRunning = false;
        }
        return true;
      }
      return false;
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/foundation.min.css";

.text-center {
  text-align: center;
}

.healthbar {
  width: 80%;
  height: 40px;
  background-color: #eee;
  margin: auto;
  transition: width 500ms;
}

.controls,
.log {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px #ccc;
}

.turn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

.log ul {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
}

.log ul li {
  margin: 5px;
}

.log ul .player-turn {
  color: blue;
  background-color: #e4e8ff;
}

.log ul .monster-turn {
  color: red;
  background-color: #ffc0c1;
}

button {
  font-size: 20px;
  background-color: #eee;
  padding: 12px;
  box-shadow: 0 1px 1px black;
  margin: 10px;
}

#start-game {
  background-color: #aaffb0;
}

#start-game:hover {
  background-color: #76ff7e;
}

#attack {
  background-color: #ff7367;
}

#attack:hover {
  background-color: #ff3f43;
}

#special-attack {
  background-color: #ffaf4f;
}

#special-attack:hover {
  background-color: #ff9a2b;
}

#heal {
  background-color: #aaffb0;
}

#heal:hover {
  background-color: #76ff7e;
}

#give-up {
  background-color: #ffffff;
}

#give-up:hover {
  background-color: #c7c7c7;
}
</style>
